@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter&family=Mada&family=Montserrat&family=Poppins&family=Roboto&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
nav{
  position:sticky;
  top: 0px;
  z-index: 1;
  width: 100vw;
  background-color: white;
}
.destination-details{
   width: 40vw;
   height: 50px;
   box-shadow: 5px 5px 5px rgb(172, 166, 166);
   border-radius: 20px;

}
  .destination-details>div>button{
    text-align: center;
    padding: 5px 7px;
    background-color:rgb(222,49,81);
    border-radius: 55%;
    margin: 4px;
    border: none;
  }
  .destination-details>p{
    margin: auto auto;
  }
  .line{
    height: 85%;
    width: 1.5px;
    background-color: rgb(227, 218, 218);
  }
  .user{
    background-color: white;
    border-radius: 10px;
}
  .user-profile>div{
    padding-inline: 5px;
    cursor: pointer;
}
.options>div{
  line-height: 200%;
  border: 1px solid rgb(226, 213, 213);
  padding-inline: 15px;
  border-radius: 15px;
}
.all-properties{
  width: 60vw;
  height: 77vh;
  overflow-y: scroll;
}
#map{
  width: 40vw;
 height: 77vh;
  
}
.amenties{
    display: flex;
    font-size: 14px;


    justify-content: space-between;
   
}

.property-img{
 
  height: 100%;
  width: 85%;
}
.property-img>img{
  height: 100%;
  width: 80%;
  border-radius: 10px;
}

.property-card{
  border-bottom: 1px solid rgb(202, 212, 202);
}
.heart{
  cursor: pointer;
}



.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin-inline: 20px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.model{
  height: 0%;
  width: 40vw;
  position: fixed;
  top: 5px;
  margin-inline: 30vw;
  
  z-index: 1;
  transition: all linear 0.5s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 
}
.model>div{
  width: 50%;
}
.model>div:first-child{
  
  background-size: cover;
  
}
.model>div:nth-child(2){
  background-color: white;
}
.cost-element{
  width: 100%;
  padding: 5px 0px;
  margin: 8px 0px;
  text-align: center;
  background: linear-gradient(90deg, rgba(18,208,213,1) 11%, rgba(37,124,127,1) 100%, rgba(178,177,218,1) 100%, rgba(0,212,255,1) 100%);
  border-radius: 20px;
  font-style: italic;
  font-weight: 18px;
  color: white;
}
.cost-header{
  width: 100%;
   background-color: aqua;
   font-size: 20px;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
}




.button-62 {
background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
border: 0;
border-radius: 10px;
color: #FFFFFF;
cursor: pointer;
display: inline-block;
font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

font-weight: 500;
line-height: 1.8;
outline: transparent;
padding: 0 5px;
text-align: center;
text-decoration: none;
transition: box-shadow .2s ease-in-out;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
width: 20%;
margin-inline: auto;
}

.button-62:not([disabled]):focus {
box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}




/* CSS */
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 4px 7px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}




/* CSS */
.button-11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  color: #3D3D3D;
  background: #fff;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-11 {
  box-shadow:  0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 1.5px rgba(58, 108, 217, 0.5);
  outline: 0;
  transition: all linear 1s;
}
.button-11:hover{
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,44,29,1) 0%, rgba(252,84,69,0.8599089293920693) 77%);
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(222,49,81);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
